<my-header tittle="付款"></my-header>
<section class="content">
	<div class="confirm_price">
		<dl style="align-items:center">
			<dt>
				<img src="./images/tu_06.png" alt="" />
			</dt>
			<dd>
				<h3><span>优衣库</span></h3>
			</dd>
		</dl>
	</div>
	<div class="xiao">
		<span>消费总额</span><input type="text" placeholder="请输入消费额"/>
	</div>
	<div class="jisuanqi">
		<table>
			<tr>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td><i class="iconfont icon-shanchu1 f22"></i></td>
			</tr>
			<tr>
				<td>5</td>
				<td>5</td>
				<td>6</td>
				<td rowspan="3" style="color:#fff;background:#fe3f4e" ui-sref="result">确认</td>
			</tr>
			<tr>
				<td>7</td>
				<td>8</td>
				<td>9</td>
			</tr>
			<tr>
				<td colspan="2">0</td>
				<td>.</td>
			</tr>
		</table>
		
	</div>
</section>