<section class="content">
	

<div class="reset_optho">
	<h3>
		我们已发送验证码到您的手机号<span>136****001</span>
	</h3>
</div>
<div class="reset_yan">
	<input type="text"  placeholder="验证码"/><span>重发短信</span>
</div>
<span class="sure"  ng-click="resetdialog()">下一步</span>

<div class="dialog" ng-show="isShows">
	<div class="resetNew">
		<h3>设置新密码<i class="iconfont icon-close f22" ng-click="close()"></i></h3>
		<ul class="kami">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<div class="resetNum">
			<p>本服务由先锋支付提供</p>
			<ul class="num">
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
				<li>6</li>
				<li>7</li>
				<li>8</li>
				<li>9</li>
				<li class="space">确定</li>
				<li>0</li>
				<li class="del"><i class="iconfont icon-qingchu1 f22"></i></li>
			</ul>
		</div>
	</div>
</div>
</section>