<my-header tittle="交易记录"></my-header>
<section class="content">
	<div class="record">
		<p>2017年2月</p>
		<dl>
			<dt>
				<img src="./images/tu_03.png" alt="" />
			</dt>
			<dd>
				<h3>优衣库</h3>
				<span>2月4日 20:45</span>
			</dd>
			<dd>
				-480.00
			</dd>
		</dl>
		<dl ui-sref="xiang">
			<dt>
				<img src="./images/tu_03.png" alt="" />
			</dt>
			<dd>
				<h3>优衣库</h3>
				<span>2月4日 20:45</span>
			</dd>
			<dd>
				-200.00
			</dd>
		</dl>
		<dl ui-sref="qing">
			<dt>
				<img src="./images/tu_06.png" alt="" />
			</dt>
			<dd>
				<h3>会员卡充值</h3>
				<span>2月4日 20:45</span>
			</dd>
			<dd>
				+1000.00
			</dd>
		</dl>
	</div>
</section>